body {
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#todo-container {
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#todo-header {
  background-color: #4bc8118e;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 24px;
}

#todo-list {
  padding: 20px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #693333;
}

.todo-item input {
  margin-right: 10px;
}

#todo-footer {
  background-color: #4bc8118e;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

#add-task {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
